[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = https://github.com/mattbierner/ecma-ast.git
[submodule "resources/parse-ecma"]
	path = resources/parse-ecma
	url = https://github.com/mattbierner/parse-ecma.git
[submodule "dependencies/js-beautify"]
	path = dependencies/js-beautify
	url = https://github.com/einars/js-beautify.git
[submodule "resources/bennu"]
	path = resources/bennu
	url = https://github.com/mattbierner/bennu.git
[submodule "resources/seshet"]
	path = resources/seshet
	url = https://github.com/mattbierner/seshet.git
